<h1><%= @video.title %></h1>

<%= link_to "edit", edit_video_path(@video) %>

<form action="/videos/<%= @video.id %>/sync" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Sync">
</form>

<%= @video.youtube_id %>
<%= @video.title %>
<%= @video.tags %>
<%= @video.chapter_markers %>
<%= @video.description_template.template %>

<textarea rows="20" cols="60"><%= @video.description %></textarea>

<%= video_embed @video %>
