<!DOCTYPE html>
<html>
  <head>
    <title>VideoAutomations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <a href="/">Home</a>
      <a href="/description_templates">Templates</a>
      <a href="/presenters">Presenters</a>
      <a href="/youtube_sessions">Connect YouTube</a>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <a href="/users/sign_in">Sign in</a>
    <% end %>

    <%= yield %>
  </body>
</html>
